.App {
  text-align: left;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color:lightseagreen;
  height: 150px;
  /* padding: 30px; */
  color:black;
  opacity: 0.7;

  display: flex;
  justify-content: left;
  
}

.app-header-left {
  width: 20%;
  padding: 25px 0 0 25px;
  
}
.app-header-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header-right h1 {
  width: 100%;
  text-align: center;
}

.Background {
  background-image: url('./mouse.png'); 
  min-height: calc(100vh - 150px);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Background input {
  align-items: center;
  justify-content: center;

}

.Background button {
  align-content: center;
  justify-content: center;
}

.recipeCard  {
  background: #FEDA7C;
  border: 2px solid gray;
  margin: 10px;
  border-radius: 10px;
  width: 80%;
}

.RecipeLower {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.RecipeLower a {
  color: #3e4042;
  text-decoration: none;
  padding: 8px;
  border-radius: 30%;
  background-color: #6de0d4
}

.SearchInput {
  width: 50%;
  margin-right: 10px;
}

.SearchForm {
  width: 100%;
  display: flex;  
  justify-content: center;
  margin-top: 10px;
  /* flex-direction: column; */
}

.SearchForm button {
  color: white;
  background: black;
  border: none;
  padding: 8px;
}
.RecipeLower button {
  color: white;
  background: #3e4042;
  border: none;
  padding: 8px;
  margin: 15px 0;
}

.RecipeTitle {
  font-size: 30px;
  font-style: italic;
  width: 100%;
  
}

.RecipeTitleArea p {
  width: 100%;
  margin-top: 5px;
}

.RecipeTitleArea {
  background:salmon;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Content {
  display: flex;
  width: 90%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.recipeImage {
  max-width: 300px;
  max-height: 200px;
  margin-right: 5px;
}

.Content p {
  width: 60%;
  margin-left: 5px;
}

.vegan {
  background: url('./img/richard_simmons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  text-align: center;

}

.close {
  background-color: #fff;   
  color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}




